################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MU5PrototypeProject/.vs
/MU5PrototypeProject/MU5PrototypeProject/bin
/MU5PrototypeProject/MU5PrototypeProject/obj
/MU5PrototypeProject/MU5PrototypeProject/.vs
MU5PrototypeProject/MU5PrototypeProject/SUMSolutionsProject.db-shm
MU5PrototypeProject/MU5PrototypeProject/SUMSolutionsProject.db-wal
MU5PrototypeProject/MU5PrototypeProject/SUMSolutions.db-wal
MU5PrototypeProject/MU5PrototypeProject/SUMSolutions.db-shm
