@model MU5PrototypeProject.Models.Client

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h2>Client</h2>
<hr>

<input id="BtnFill" onclick="FillCreate()" type="button" value="Fill Fields" class="btn btn-primary" />

<div class="row">
    <div class="col-md-4">
        <form id="pageForm" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label><span style="color:darkred"> *</span>
                <input asp-for="FirstName" class="form-control" placeholder="First Name"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label><span style="color:darkred"> *</span>
                <input asp-for="LastName" class="form-control" placeholder="Last Name"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" type="date" class="form-control" value="@ViewData["DefaultDOB"]" max="@ViewData["MaxDOB"]" min="@ViewData["MinDOB"]" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label><span style="color:darkred"> *</span>
                <input asp-for="Phone" class="form-control" placeholder="Phone Number"/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label><span style="color:darkred"> *</span>
                <input asp-for="Email" class="form-control" placeholder="Email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientFolderUrl" class="control-label"></label>
                <input asp-for="ClientFolderUrl" class="form-control" placeholder="Client Folder URL"/>
                <span asp-validation-for="ClientFolderUrl" class="text-danger"></span>
            </div>
           @*  <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div> 
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsArchived" /> @Html.DisplayNameFor(model => model.IsArchived)
                </label>
            </div>*@
            <div class="form-group">
                <input type="hidden" id="confirmation" name="confirmation" value="confirm" />
                <input id="btnconfirm" type="submit" onclick="ShowModal()" value="Create" class="btn btn-primary" />
            </div>
            
            <div class="modal fade" id="mymodal" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <h1 class="modal-title"> Confirm that values are correct </h1>
                        <div class="modal-body">

                            <input id="ModalFirstName" class="form-control" disabled />
                            <input id="ModalLastName" class="form-control" disabled />
                            <input id="ModalDOB" class="form-control" type="date" disabled />
                            <input id="ModalPhone" class="form-control" disabled />
                            <input id="ModalEmail" class="form-control" disabled />
                            <input id="ModalClientFolderUrl" class="form-control" disabled />

                        </div>
                        <div class="modal-body">

                            <input id="btnsubmit" type="submit" value="Submit" class="btn btn-primary" />
                            <input type="button" value="Cancel" class="btn btn-danger" data-bs-dismiss="modal">

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Client</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript" language="javascript">

        function FillCreate(){

            document.getElementById("FirstName").value = "Kaiden";
            document.getElementById("LastName").value = "Gwynne";
            var year = new Date;
            document.getElementById("DOB").value = "2002-02-20";
            document.getElementById("Phone").value = "2896961234";
            document.getElementById("Email").value = "Gwynnek@yahoo.com";
            //document.getElementById("ClientFolderURL").value = "Kaiden";

        };

        function ShowModal() {

            var form = document.forms.namedItem("pageForm");

            form.btnconfirm.onclick =_=> form.confirmation.value = 'confirm';
            form.btnsubmit.onclick =_=> form.confirmation.value = 'submit'

            form.onsubmit = ev => {
                if(form.confirmation.value == "confirm"){
                    ev.preventDefault();

                    document.getElementById("ModalFirstName").value = document.getElementById("FirstName").value;
                    document.getElementById("ModalLastName").value = document.getElementById("LastName").value;
                    document.getElementById("ModalDOB").value = document.getElementById("DOB").value;
                    document.getElementById("ModalPhone").value = document.getElementById("Phone").value;
                    document.getElementById("ModalEmail").value = document.getElementById("Email").value;
                    document.getElementById("ModalClientFolderUrl").value = document.getElementById("ClientFolderUrl").value;

                    var myModal = new bootstrap.Modal(document.getElementById('mymodal'));
                    myModal.show();
                }
            }

        }


    </script>
}
