@model MU5PrototypeProject.Models.Session

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h2>Session</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SessionDate" class="control-label"></label><span style="color:darkred"> *</span>
                <input asp-for="SessionDate" class="form-control" type="date" value="@ViewData["DefaultSessionDate"]" /> @* default session date to today *@
                <span asp-validation-for="SessionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionsPerWeekRecommended" class="control-label"></label>
                <input asp-for="SessionsPerWeekRecommended" class="form-control" placeholder="Recommended Sessions Per Week"/>
                <span asp-validation-for="SessionsPerWeekRecommended" class="text-danger"></span>
            </div>
@*             <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsArchived" /> @Html.DisplayNameFor(model => model.IsArchived)
                </label>
            </div> *@
            <div class="form-group">
                <label asp-for="TrainerID" class="control-label"></label><span style="color:darkred"> *</span>
                <select asp-for="TrainerID" class ="form-control" asp-items="ViewBag.TrainerID" >
                    <option value="">Select a Trainer</option>
                </select>
                <span asp-validation-for="TrainerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientID" class="control-label"></label><span style="color:darkred"> *</span>
                <select asp-for="ClientID" class ="form-control" asp-items="ViewBag.ClientID">
                    <option value="">Select a Client</option>
                </select>
                <span asp-validation-for="ClientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <a asp-action="Index" class="btn btn-primary">Cancel</a>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Sessions</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
