@model MU5PrototypeProject.Models.Session

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h2>Session</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="SessionDate" class="control-label"></label>
                <input asp-for="SessionDate" class="form-control" readonly />
                <span asp-validation-for="SessionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionsPerWeekRecommended" class="control-label"></label>
                <input asp-for="SessionsPerWeekRecommended" class="form-control" />
                <span asp-validation-for="SessionsPerWeekRecommended" class="text-danger"></span>
            </div>
            @*             <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsArchived" /> @Html.DisplayNameFor(model => model.IsArchived)
                </label>
            </div> *@
            <div class="form-group">
                <label>Trainer</label>
                <input class="form-control"
                       value="@(Model.Trainer?.FirstName + " " + Model.Trainer?.LastName)"
                       readonly />
                <input type="hidden" asp-for="TrainerID" />
                <span asp-validation-for="TrainerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Client</label>
                <input class="form-control"
                       value="@(Model.Client?.FirstName + " " + Model.Client?.LastName)"
                       readonly />
                <input type="hidden" asp-for="ClientID" />
                <span asp-validation-for="ClientID" class="text-danger"></span>
            </div>

            @*  Stuff fromSesionNotes *@
            <div class="form-group">
                <label asp-for="SessionNotes.Goals" class="form-label"></label>
                <textarea asp-for="SessionNotes.Goals" class="form-control" rows="4" placeholder="First Name"></textarea>
                <span asp-validation-for="SessionNotes.Goals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionNotes.HealthMedicalHistory" class="form-label"></label>
                <textarea asp-for="SessionNotes.HealthMedicalHistory" class="form-control" rows="4" placeholder="First Name"></textarea>
                <span asp-validation-for="SessionNotes.HealthMedicalHistory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionNotes.GeneralComments" class="form-label"></label>
                <textarea asp-for="SessionNotes.GeneralComments" class="form-control" rows="4" placeholder="First Name"></textarea>
                <span asp-validation-for="SessionNotes.GeneralComments" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SessionNotes.SubjectiveReports" class="form-label"></label>
                <textarea asp-for="SessionNotes.SubjectiveReports" class="form-control" rows="4" placeholder="First Name"></textarea>
                <span asp-validation-for="SessionNotes.SubjectiveReports" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionNotes.ObjectiveFindings" class="form-label"></label>
                <textarea asp-for="SessionNotes.ObjectiveFindings" class="form-control" rows="4" placeholder="First Name"></textarea>
                <span asp-validation-for="SessionNotes.ObjectiveFindings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionNotes.Plan" class="form-label"></label>
                <textarea asp-for="SessionNotes.Plan" class="form-control" rows="4" placeholder="First Name"></textarea>
                <span asp-validation-for="SessionNotes.Plan" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Sessions</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
