@{
    ViewData["Title"] = "Sessions Data";
}

<div class="page">
    <h1 class="pageTitle">Sessions Data</h1>

    <div class="d-flex justify-content-end mb-3">
        <a class="primaryButton" asp-controller="Sessions" asp-action="Edit">+ Session</a> <!-- add uses the edit shell -->
    </div>

    <div class="dataBox">
        <table class="table table-hover align-middle dataTable">
            <thead>
                <tr>
                    <th>Client</th>
                    <th>Trainer</th>
                    <th>Date</th>
                    <th class="actionsCol">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nasra Ibrahim</td>
                    <td>Rachel</td>
                    <td>2025/04/12</td>
                    <td class="actionsCol">
                        <a class="actionLink" asp-action="Details" asp-route-id="1">details</a>
                        <a class="actionLink" asp-action="Edit" asp-route-id="1">edit</a>
                        <a class="actionLink danger" href="#" onclick="alert('Archive later'); return false;">archive</a>
                    </td>
                </tr>
                <tr>
                    <td>Hayden Moose</td>
                    <td>Penny</td>
                    <td>2025/10/09</td>
                    <td class="actionsCol">
                        <a class="actionLink" asp-action="Details" asp-route-id="2">details</a>
                        <a class="actionLink" asp-action="Edit" asp-route-id="2">edit</a>
                        <a class="actionLink danger" href="#" onclick="alert('Archive later'); return false;">archive</a>
                    </td>
                </tr>
                <tr>
                    <td>Hunter Blue</td>
                    <td>Liz</td>
                    <td>2025/01/20</td>
                    <td class="actionsCol">
                        <a class="actionLink" asp-action="Details" asp-route-id="3">details</a>
                        <a class="actionLink" asp-action="Edit" asp-route-id="3">edit</a>
                        <a class="actionLink danger" href="#" onclick="alert('Archive later'); return false;">archive</a>
                    </td>
                </tr>
                <tr>
                    <td>Saime Drake</td>
                    <td>Beto</td>
                    <td>2025/02/20</td>
                    <td class="actionsCol">
                        <a class="actionLink" asp-action="Details" asp-route-id="4">details</a>
                        <a class="actionLink" asp-action="Edit" asp-route-id="4">edit</a>
                        <a class="actionLink danger" href="#" onclick="alert('Archive later'); return false;">archive</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
